body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Castoro", serif;
}

a{
    color:#000;
    text-decoration: none;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.headshot {
    margin: 0 auto;
}

.introduction-bg {
    background-color: #EFEFEF;
}

.introduction {
    margin-left: auto;
    padding: 48px 0;
    font-size: 32px;
}

.container {
    max-width: 1272px;
    margin: 0 auto;
}

.h1 {
    font-weight: 400;
    font-size: 128px;
    letter-spacing: .12em;
}

.h2 {
    font-weight: 400;
    font-size: 128px;
    letter-spacing: .12em;
}

.h3 {
    font-weight: 400;
    font-size: 40px;
    color: #AE0000;
    border-bottom: 3px solid #AE0000;
    margin-bottom: 8px;
}

.h4 {
    font-weight: 400;
    font-size: 20px;
    color: #949494;
    font-style: italic;
}

.subtitle {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: #000;
    padding: 64px 0;
}

.icon {
    width: 64px;
    height: 64px;
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
}

.fs-4{
    font-size: 1.5rem;
}

.pt-40 {
    padding-top: 10rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: .75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mb-20 {
    margin-bottom: 5rem;
}

.mb-40 {
    margin-bottom: 10rem;
}